<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<template>
		<section style="width: 100%; box-sizing: border-box; padding: 0 20px; height: 100%; background-color: #ccc; background: url(../images/bj-gezi.png) left top repeat; background-size: 90%; overflow: hidden;">
			<button style="position: absolute; top: 0; right: 0; width: 40px; height: 40px; background: url(../images/cancel.png) center center no-repeat; background-size: 30px 30px;" data-event="close"></button>
			<div style="margin: 100px auto; max-width: 260px; padding: 30px 15px; background-color: #fff; border-radius: 5px;">
				<div style="overflow: hidden;">
					<h4 style="font-size: 18px; font-family: \'Segoe Print\'; font-style: italic;">Dire friend</h4>
					<p style="padding: 10px 30px; font-size: 17px; font-family: \'PingFang SC Medium\';">{{= status == 200? data.secretdec : msg }}</p>
					<span style="float: right; font-size: 18px;">-{{= status == 200? data.author.username : \'鲁迅\' }}</span>
				</div>
				<div style="margin: 15px 0; position: relative; box-sizing: border-box; border: 2px solid #2da297;">
					<div style="height: 140px; overflow: hidden;">
						{{if data.secretimg}}
						<img src="{{= data.secretimg }}" style="width: 100%;">
						{{else}}
						<div style="margin-top: 70px; position: relative;">
							{{if status === 198}}
							<img style="position: absolute; top: 0px; left: 0px; width: 60px; transform: translateY(-50%);" src="../images/sad.png">
							<p style="position: absolute; top: 0px; left: 60px; right: 0px; transform: translateY(-50%);">来晚了，秘密被人拿走了</p>
							{{else status === 199}}
							<img style="position: absolute; top: 0px; left: 0px; width: 60px; transform: translateY(-50%);" src="../images/sad.png">
							<p style="position: absolute; top: 0px; left: 60px; right: 0px; transform: translateY(-50%);">太远了，够不着</p>
							{{else}}
							<img style="position: absolute; top: 0px; left: 0px; width: 60px; transform: translateY(-50%);" src="../images/happy.png">
							<p style="position: absolute; top: 0px; left: 60px; right: 0px; transform: translateY(-50%);">厉害了，发现一个秘密</p>
							{{/if}}
						</div>
						{{/if}}
					</div>
					<div style="position: absolute; top:-10px; left: -2px; width: 87px; height: 46px; background: url(../images/ltsanjiao.png) 0 0 no-repeat; background-size: 100% 100%;"></div>
				</div> 
				<ul style="overflow: hidden; width: 80%; margin: auto;"><li style="float: left; width: 50%;"><button style="display: block; margin: 0 auto; width: 60px; line-height: 30px; font-size: 18px; color: #fff; background-color: #d76e53; border-radius: 4px;" data-event="share">分享</button></li><li style="float: left; width: 50%;"><button style="display: block; margin: 0 auto; width: 60px; line-height: 30px; font-size: 18px; color: #fff; background-color: #d76e53; border-radius: 4px;" data-event="reply">回应</button></li></ul></div></section></template>
</body>
</html>